In [1]:
import pandas as pd
import numpy as np
import copernicusmarine as cm

/home/kshitiz/anaconda3/envs/new_atlantis/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

If pisces was extracted in multiple parts, first merge the separate year-wise pisces datasets

In [14]:
# load the multi year dataframes
df1 = pd.read_csv("1997_1999.csv")
df2 = pd.read_csv("2000_2004.csv")
df3 = pd.read_csv("2005_2009.csv")
df4 = pd.read_csv("2010_2016.csv")
df5 = pd.read_csv("2017_2022.csv")

In [16]:
df = pd.concat([df1, df2, df3, df4, df5])
print(df.shape)
df.head()

(59085, 10)

,year,month,day,latitude,longitude,fe,no3,o2,po4,si
0,1997,9,30,60.0,-60.00,0.000486,11.222772,296.13693,0.796657,5.786915
1,1997,9,30,60.0,-59.75,0.000463,11.589886,294.46850,0.815317,5.958273
2,1997,9,30,60.0,-59.50,0.000462,11.909455,294.29047,0.835375,6.229589
3,1997,9,30,60.0,-59.25,0.000450,12.060244,295.59393,0.845898,6.304459
4,1997,9,30,60.0,-59.00,0.000441,12.280532,295.78656,0.859954,6.477449

In [27]:
df.to_csv("pisces_1997_2021.csv")

Merge all the datasets

In [41]:
chl = pd.read_csv("../chl_1997_2021.csv").set_index(["year","month","latitude","longitude"])
pisces = pd.read_csv("pisces_1997_2021.csv").set_index(["year","month","latitude","longitude"])
sst = pd.read_csv("../sst_1997_2021.csv").set_index(["year","month","latitude","longitude"])
sssd = pd.read_csv("../sssd_1997_2021.csv").set_index(["year","month","latitude","longitude"])
carbon = pd.read_csv("../carbon_1997_2021.csv").set_index(["year","month","latitude","longitude"])
bathy = pd.read_csv("../bathy.csv").set_index(["latitude","longitude"])

In [42]:
all = chl
all.shape

(46339, 1)

In [43]:
all = all.join(pisces, how="inner")
all.shape

(38034, 6)

In [44]:
all = all.join(sst, how="inner")
all.shape

(37075, 7)

In [45]:
all = all.join(sssd, how="inner")
all.shape

(36068, 9)

In [46]:
all = all.join(carbon, how="inner")
all.shape

(35658, 16)

In [47]:
all = all.join(bathy, how="inner")
all.shape

(35658, 17)

In [48]:
all.head()

                                    CHL        fe        no3         o2  \
year month latitude longitude
1997 9     60.0     -60.00     0.398709  0.000486  11.222772  296.13693
                    -59.75     0.360659  0.000463  11.589886  294.46850
                    -59.50     0.344952  0.000462  11.909455  294.29047
                    -59.25     0.328261  0.000450  12.060244  295.59393
                    -59.00     0.321946  0.000441  12.280532  295.78656

                                    po4        si  analysed_sst        sos  \
year month latitude longitude
1997 9     60.0     -60.00     0.796657  5.786915    279.375594  33.808083
                    -59.75     0.815317  5.958273    279.483794  33.839203
                    -59.50     0.835375  6.229589    279.587060  33.868324
                    -59.25     0.845898  6.304459    279.888394  33.938263
                    -59.00     0.859954  6.477449    280.220194  34.003320

                                     dos     fgco2  omega_ar  omega_ca  \
year month latitude longitude
1997 9     60.0     -60.00     1026.5247  3.892427  1.923069  3.057008
                    -59.75     1026.5393  3.776092  1.917293  3.047476
                    -59.50     1026.5546  3.588515  1.931662  3.068809
                    -59.25     1026.5881  3.499163  1.944287  3.087775
                    -59.00     1026.6177  3.433449  1.949239  3.095119

                                     ph      spco2       talk       tco2  \
year month latitude longitude
1997 9     60.0     -60.00     8.148241  298.65195  2241.7560  2064.8010
                    -59.75     8.145193  301.19180  2242.5386  2066.3040
                    -59.50     8.142040  304.23790  2244.6096  2067.0552
                    -59.25     8.140802  305.71920  2247.9236  2069.1458
                    -59.00     8.139954  306.59482  2249.1016  2069.8516

                                   bathy
year month latitude longitude
1997 9     60.0     -60.00     1905.5879
                    -59.75     2183.0210
                    -59.50     2340.9187
                    -59.25     2482.4104
                    -59.00     2601.2500

In [49]:
all.to_csv("../all_1997_2021.csv")